body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
}

body h1 {
  color: #3C3C3C;
  font-size: 56px;
  font-weight: bold;
}

body h2 {
  color: #3C3C3C;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 13px;
}

body hr.under-heading {
  width: 100px;
  color: #CFCFCF;
  margin: 0 auto;
  border-bottom: 2px solid #CFCFCF;
}

body .sub-heading {
  margin: 30px auto;
  text-align: center;
  font-weight: 600;
  max-width: 700px;
}

body button.wp-kahel-primary-button {
  color: #FFFFFF;
  font-size: 20px;
  background: #F19600;
  border-radius: 30px;
  width: 192px;
  height: 57px;
  border: 2px #C0B02D;
}

body p {
  font-weight: 300;
  line-height: 28px;
}

body ul {
  font-weight: 300;
  list-style-type: none;
}

body header.homepage-hero {
  height: 1080px;
  background-image: url("../images/image@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body header .navbar {
  height: 73px;
  font-size: 20px;
  max-width: 1346px;
  margin: 0 auto;
}

body header .navbar ul {
  margin-bottom: 0;
  padding: 0;
}

body header .navbar ul li {
  display: inline-block;
  margin-right: 50px;
}

body header .navbar ul li a {
  text-decoration: none;
  color: #9a8c8c;
}

body header .navbar ul li a.active {
  color: #FCAF26;
  text-decoration: underline;
}

body header .heading {
  color: #3C3C3C;
  padding-top: 300px;
  max-width: 1346px;
  margin: 0 auto;
}

body header .heading p.subtitle {
  max-width: 711px;
}

body header .heading div.heading-button {
  max-width: 711px;
  text-align: center;
  margin-top: 48px;
}

body section {
  padding-bottom: 50px;
  padding-top: 50px;
}

body section.content.content-article-hero {
  padding-top: 0;
}

body section.content.content-article-hero .row {
  --bs-gutter-x: 0;
}

body section.content.content-article-hero img.article-hero {
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

body section.content.content-article {
  padding-top: 0;
}

body section.content.content-article h1 {
  font-size: 45px;
}

body section.content .wp-kahel-container {
  max-width: 1346px;
  margin: 0 auto;
}

@media (max-width: 1920px) {
  body section.content .wp-kahel-container.zig-zag {
    max-width: 100%;
    margin: 0;
  }
}

body section.content .wp-kahel-container .row .wp-kahel-col {
  border: 1px #000;
  max-width: 400px;
  margin: 0 auto;
}

body section.content .wp-kahel-container .row .wp-kahel-col .wp-kahel-grid-item .image-wrapper {
  text-align: center;
}

body section.content .wp-kahel-container .row .wp-kahel-col .wp-kahel-grid-item img {
  width: 100%;
}

body section.content .wp-kahel-container .row .wp-kahel-col .wp-kahel-grid-item img.icon {
  width: 56px;
  margin: 0 auto;
}

body section.content .wp-kahel-container .row .wp-kahel-col .wp-kahel-grid-item h3 {
  font-weight: 700;
  font-size: 20px;
  padding: 25px;
  margin: 0;
  text-align: center;
}

body section.content .wp-kahel-container .row .wp-kahel-col .wp-kahel-grid-item .button-wrapper {
  text-align: center;
}

body section.content .wp-kahel-container .row.zig-zag {
  max-width: 1346px;
  margin: 0;
}

@media (max-width: 1920px) {
  body section.content .wp-kahel-container .row.zig-zag {
    max-width: 100%;
    margin: 0;
  }
  body section.content .wp-kahel-container .row.zig-zag ul {
    font-weight: 300;
    font-size: 25px;
    list-style-type: none;
    line-height: 45px;
  }
}

body section.content .wp-kahel-container .row.zig-zag h2 {
  margin: 15px;
  padding-top: 13px;
}

body section.content .wp-kahel-container .row.zig-zag .sub-heading {
  margin-top: 15px;
}

body section.content .wp-kahel-container .row.zig-zag .wp-kahel-col {
  max-width: 100%;
  padding: 0;
  text-align: center;
}

body section.content .wp-kahel-container .row.zig-zag .wp-kahel-col img {
  width: 100%;
}

body footer {
  background: #F4B862;
  border-top: 1px solid #F4B862;
}

body footer h2 {
  text-align: left;
}

body footer ul {
  list-style-type: none;
  padding-left: 0;
}

body footer ul li a {
  color: #3D3D3D;
  text-decoration: none;
}

body footer .footer-upper {
  padding-top: 50px;
  padding-bottom: 50px;
}

body footer .footer-upper .container-footer {
  max-width: 1346px;
  margin: 0 auto;
}

body footer .footer-upper .container-footer .wp-kahel-container {
  padding: 0;
  margin: 0;
}

body footer .footer-upper .wp-kahel-p2 {
  padding: 0px 25px 0px 0px !important;
}

body footer .footer-lower {
  background: #707070;
  padding: 20px 0px 5px 0px;
  border: 1px solid #707070;
  color: #FFFFFF;
}

body footer .footer-lower .container-footer {
  max-width: 1346px;
  margin: 0 auto;
}

body footer .footer-lower .container-footer .wp-kahel-container {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */