$section-max-width: 1346px;
$section-margin: 0 auto;
$heading-color: #3C3C3C;
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #FFFFFF;

    h2{
        color: $heading-color; 
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 13px;
    }
    hr{
        &.under-heading{
            width: 100px;
            color: #CFCFCF;
            margin: 0 auto;
            border-bottom: 2px solid #CFCFCF;
        }
    }
    .sub-heading{
        margin: 30px auto;
        text-align: center;
        font-weight: 600;
        max-width: 700px;
    }
    button{
        &.wp-kahel-primary-button{
            color: #FFFFFF;
            font-size: 20px;
            background: #F19600;
            border-radius: 30px;
            width: 192px;
            height: 57px;
            border: 2px #C0B02D;
        }
    }
    p{
        font-weight: 300;
    }
    ul{
        font-weight: 300;
        list-style-type: none;
    }

    header{
        height: 1080px;
        background-image: url("../images/image@2x.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;

        .navbar{
            height: 57px;
            font-size: 20px;
            max-width: $section-max-width;
            margin: $section-margin;
            ul{
                margin-bottom: 0;
                padding: 0;
                li{
                    display: inline-block;
                    margin-right: 50px;
                    a{
                        text-decoration: none;
                        color: #9a8c8c;
                        &.active{
                            color: #FCAF26;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .heading{
            color: $heading-color;
            padding-top: 300px;
            max-width: $section-max-width;
            margin: $section-margin;
            h1{
                font-size: 56px;
                font-weight: bold;
            }
            p{
                &.subtitle{
                    max-width: 711px;
                }
            }
            div{
                &.heading-button{
                    max-width: 711px;
                    text-align: center;
                    margin-top: 48px;
                }
            }
        }
    }
    section{
        padding-bottom: 50px;
        padding-top: 50px;
        &.content{
            .wp-kahel-container{
                @media(max-width:1920px){
                    max-width: 100%;
                    margin: 0;
                }
                .row{
                    .wp-kahel-col{
                        border: 1px #000;
                        max-width: 400px;
                        margin: 0 auto;
                        .wp-kahel-grid-item{
                            .image-wrapper{
                                text-align: center;
                            }
                            img{
                                width: 100%;
                                &.icon{
                                    width: 56px;
                                    margin: 0 auto;
                                }
                            }
                            h3{
                                font-weight: 700;
                                font-size: 20px;
                                padding: 25px;
                                margin: 0;
                                text-align: center;
                            }
                            .button-wrapper{
                                text-align: center;
                            }
                        }
                    }
                    &.zig-zag{
                        @media(max-width:1920px){
                            max-width: 100%;
                            margin: 0;
                            ul{
                                font-weight: 300;
                                font-size: 25px;
                                list-style-type: none;
                                line-height: 45px;
                            }
                        }
                        max-width: 1346px;
                        margin: 0;
                        h2{
                            margin: 15px;
                            padding-top: 13px;
                        }
                        .sub-heading{
                            margin-top: 15px;
                        }
                        
                        .wp-kahel-col{
                            max-width: 100%;
                            padding: 0;
                            text-align: center;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            
            
        }
    }

    footer{
        background: #F4B862;
        border-top: 1px solid #F4B862;
        h2{
            text-align: left;
        }
        ul{
            list-style-type: none;
            padding-left: 0;
            li{
                a{
                    color: #3D3D3D;
                    text-decoration: none;
                }
            }
        }

        .footer-upper{
            padding-top: 50px;
            padding-bottom: 50px;

            .container-footer{
                max-width: $section-max-width;
                margin: $section-margin;
                .wp-kahel-container{
                    padding: 0;
                    margin: 0;
                }
            }

            .wp-kahel-p2{
                padding: 0px 25px 0px 0px !important;
            }
        }
        .footer-lower{
            background: #707070;
            padding: 20px 0px 5px 0px;
            border: 1px solid #707070;
            color: #FFFFFF;
            .container-footer{
                max-width: $section-max-width;
                margin: $section-margin;
                .wp-kahel-container{
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}