<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Front page"},"className":"kahel-home","layout":{"type":"default"}} -->
<main class="wp-block-group kahel-home">

	<!-- wp:pattern {"slug":"kahel/home-hero"} /-->

	<!-- wp:pattern {"slug":"kahel/home-featured"} /-->

	<!-- wp:pattern {"slug":"kahel/home-archive"} /-->

	<!-- wp:pattern {"slug":"kahel/home-quote"} /-->

	<!-- wp:pattern {"slug":"kahel/home-issue"} /-->

	<!-- wp:pattern {"slug":"kahel/home-about"} /-->

	<!-- wp:pattern {"slug":"kahel/home-latest"} /-->

	<!-- wp:pattern {"slug":"kahel/home-faq"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
