<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:pattern {"slug":"kahel/hero"} /-->

<!-- wp:pattern {"slug":"kahel/services"} /-->

<!-- wp:pattern {"slug":"kahel/process"} /-->

<!-- wp:pattern {"slug":"kahel/advantage"} /-->

<!-- wp:pattern {"slug":"kahel/stories"} /-->

<!-- wp:pattern {"slug":"kahel/testimonial"} /-->

<!-- wp:pattern {"slug":"kahel/origin"} /-->

<!-- wp:pattern {"slug":"kahel/cta"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
