<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Page"},"className":"page page-full-width","layout":{"type":"default"}} -->
<main class="wp-block-group page page-full-width"><!-- wp:group {"tagName":"article","metadata":{"name":"Page article"},"className":"page-article type-page","layout":{"type":"default"}} -->
<article class="wp-block-group page-article type-page"><!-- wp:group {"tagName":"header","metadata":{"name":"Page header"},"align":"full","className":"page-header entry-header","layout":{"type":"constrained","contentSize":"1440px"}} -->
<header class="wp-block-group alignfull page-header entry-header"><!-- wp:group {"metadata":{"name":"Page header inner"},"className":"page-header-inner","layout":{"type":"default"}} -->
<div class="wp-block-group page-header-inner"><!-- wp:group {"metadata":{"name":"Breadcrumb"},"className":"breadcrumb","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"center"}} -->
<div class="wp-block-group breadcrumb"><!-- wp:home-link {"fontSize":"small"} /-->

<!-- wp:paragraph {"fontSize":"small","className":"breadcrumb-separator"} -->
<p class="breadcrumb-separator has-small-font-size">›</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":0,"fontSize":"small","className":"breadcrumb-current"} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":1,"className":"page-title entry-title"} /--></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Page featured"},"align":"full","className":"page-featured","layout":{"type":"constrained","contentSize":"1440px"}} -->
<div class="wp-block-group alignfull page-featured"><!-- wp:group {"metadata":{"name":"Page featured inner"},"className":"page-featured-inner","layout":{"type":"default"}} -->
<div class="wp-block-group page-featured-inner"><!-- wp:post-featured-image {"className":"page-featured-image","sizeSlug":"large"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Page content"},"align":"full","className":"page-content-wrap page-content-wrap-full","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull page-content-wrap page-content-wrap-full"><!-- wp:post-content {"className":"entry-content entry-content-full","layout":{"type":"constrained","contentSize":"100%"}} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"kahel/cta"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
